{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'thePoll/style.css' %}" />

<h1>{{question.question_text }}</h1>


<form action="{%url 'thePoll:vote' question.id %}" method = "post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{choice.id}}" />
    <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label><br/>
{% endfor %}
<input type="submit" value="Vote"/>

{% if error_message %}<p><span id="error">{{ error_message }}</span></p>{% endif %}
</form>
